<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestion de stock</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="assets/logo.svg" type="image/svg" />
  </head>
  <body>
    <%- include('../layout/header.ejs') %>
    <main>
      <h1>Ajout d'un article</h1>
      <form action="/actions/article-add" method="POST">
        <label>
          <div>Nom</div>
          <input type="text" value="<%= article.name %>" name="name" />
        </label>
        <label>
          <div>Prix</div>
          <input type="number" value="<%= article.price %>" name="price" />
        </label>
        <label>
          <div>Quantité</div>
          <input type="number" value="<%= article.qty %>" name="qty" />
        </label>
        <button>Ajouter</button>
      </form>
    </main>
    <%- include('../layout/footer.ejs') %>
  </body>
</html>
