<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestion de stock</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="assets/logo.svg" type="image/svg" />
  </head>
  <body>
    <%- include('../layout/header.ejs') %>
    <main>
      <h1>Liste des articles</h1>
      <div class="content">
        <nav>
          <a href="/article/add">
            <button>Ajouter</button>
          </a>
          <button class="remove" hidden onclick="removeSelectedArticles()">
            Supprimer
          </button>
        </nav>
        <table>
          <caption hidden>
            Liste des articles
          </caption>
          <thead>
            <tr>
              <th scope="col" class="name">Nom</th>
              <th scope="col" class="price">Prix</th>
              <th scope="col" class="qty">Quantité</th>
            </tr>
          </thead>
          <tbody>
            <% for (const article of articles) { %>
            <tr onclick="toggle(this);" article-id="<%= article.id %>">
              <td class="name"><%= article.name %></td>
              <td class="price"><%= article.price %>€</td>
              <td class="qty"><%= article.qty %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </main>
    <%- include('../layout/footer.ejs') %>
    <script type="module" src="main.js"></script>
  </body>
</html>
